.edit-p-main {
  width: 400px;
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: popup 400ms forwards;
  overflow: hidden;
}

.edit-p-top {
  width: 400px !important;
  margin: 32px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #dbdbdb;
  padding-bottom: 16px;
}

.edit-p-pic {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
  cursor: default;
  margin-bottom: 16px;
}

.edit-current {
  color: #262626;
  font-size: 18px;
  font-weight: 500;
}

.edit-option {
  height: 48px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.edit-option2 {
  height: 48px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ed4956;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.edit-option3 {
  height: 48px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.remove-confirm-main {
  width: 400px;
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: popup 400ms forwards;
  overflow: hidden;
}

.er-top {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-bottom: 0.5px solid #dbdbdb;
  justify-content: center;
  align-items: center;
  margin: 32px 16px 0px;
  padding-bottom: 16px;
}

.er-top-bold {
  font-size: 18px;
  color: #262626;
}

.er-top-small {
  padding: 16px 0px 0px;
  font-size: 14px;
  color: #8e8e8e;
}
