.new-post-main {
  height: 80vh;
  width: 55vw;
  background-color: white !important;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  animation: popup 400ms forwards;
}

.new-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 0.5px solid #dbdbdb;
}

.new-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
}

.new-close {
  position: fixed !important;
  margin-right: 10px;
  margin-top: 10px;
  right: 0 !important;
  top: 0 !important;
  margin-right: auto;
  color: white;
}

.new-close-img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.new-post-bot {
  display: flex;
  flex-direction: row;
}

.mid-left {
  width: 37.5vw;
  border-right: 0.5px solid #dbdbdb;
  height: calc(80vh - 42px);
}

.new-post-user {
  height: 60px;
  padding: 0 16px;
  display: flex;
  width: 100%;
  align-items: center;
  width: calc(55vw - (55vw * 0.65));
  gap: 10px;
}

.new-user-img {
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
}

.new-username {
  font-size: 16px;
  font-weight: 500;
}

.mid-right {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.new-post-desc {
  border: none;
  padding: 0 16px;
  font-size: 16px;
  resize: none;
  height: 20vh;
  width: 100%;
}

.new-post-desc:focus {
  outline: none;
}

.mid-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.emoji-wordcount {
  width: 100%;
  border-bottom: 0.5px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emoji-post {
  padding: 8px 16px;
}

.emoji-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.post-url {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #dbdbdb;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.new-submit {
  font-size: 14px;
  font-weight: 500;
  color: #0095f6;
  cursor: pointer;
  margin-left: -20px;
  margin-right: 20px;
}

.post-error {
  padding: 20px 16px;
  color: #ed4956;
  font-size: 16px;
}

.wordcount {
  font-size: 12px;
  color: #c7c7c7;
  padding: 8px 16px;
}

.new-p-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.new-p-video {
  color: #262626;
  font-size: 22px;
  font-weight: 300;
}

.new-p-upload {
  width: 158px;
  height: 30px;
  background-color: #0095f6;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  user-select: none;
}

.new-p-upload:active {
  opacity: 0.7;
}
