.signup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

.signup-top {
  width: 350px;
  min-height: 542px;
  background-color: #ffffff;
  border: 0.5px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signup-hello {
  font-size: 17px;
  color: #8e8e8e;
  text-align: center;
  font-weight: 500;
  margin: 0px 40px 10px;
}

.signup-demo {
  width: 268px;
  height: 32px;
  background-color: #0095f6;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 9px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-demo:active {
  opacity: 0.7;
}

.signup-input {
  background-color: #fafafa;
  color: #262626;
  border: 0.5px solid #dbdbdb;
  align-self: center;
  width: 268px;
  height: 36px;
  border-radius: 3px;
  padding: 9px 0px 7px 8px;
  margin-bottom: 5px;
  font-size: 12px;
}

.signup-input::placeholder {
  color: #8e8e8e;
}

.signup-input:focus {
  outline: none;
}

.signup-submit {
  width: 268px;
  height: 30px;
  background-color: #0095f6;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 9px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.signup-submit:active {
  opacity: 0.7;
}

.signup-bot {
    width: 350px;
    height: 70px;
    background-color: #ffffff;
    border: 0.5px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.signup-log {
    cursor: pointer;
    color: #0095f6
}
