.explore-main {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  width: 975px;
  padding-bottom: 30px;
}

.explore-card {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.explore-none {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
}
