.comment-options {
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-bottom: 1px;
}

.delete-conf-settings {
  width: 400px;
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: popup 400ms forwards;
}
