.options-modal {
  width: 400px;
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: popup 400ms forwards;
}

.hide-options {
  width: 100%;
}

.delete-post,
.unfollow-post {
  width: 100%;
  text-align: center;
  color: #ed4956;
  padding: 16px 16px;
  height: 48px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.edit-post {
  width: 100%;
  text-align: center;
  padding: 16px 16px;
  height: 48px;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.goto-post-b {
  width: 100%;
  text-align: center;
  padding: 16px 16px;
  height: 48px;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}

.goto-post {
  width: 100%;
  text-align: center;
  padding: 16px 16px;
  height: 48px;
  cursor: pointer;
}

.del-conf-top {
  width: 400px;
  text-align: center;
  padding: 16px 16px;
  height: 96px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 0.5px solid #dbdbdb;
}

.del-title {
  color: #262626;
  font-size: 18px;
  font-weight: 500;
}

.del-desc {
  color: #8e8e8e;
}

.edit-it-top {
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: 0.5px solid #dbdbdb;
  padding: 16px 16px;
}

.emoji-post-3 {
  position: relative;
  display: flex;
}

.edit-it-input {
  resize: none;
  height: 100px;
  width: 365px;
  border: none;
  padding: 16px 16px;
  font-size: 14px;
}

.edit-it-input {
  outline: none;
}

.emoji-btn.editb {
  margin-top: auto;
}

.submit-edit {
  width: 100%;
  text-align: center;
  color: #0095f6;
  padding: 16px 16px;
  height: 48px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 0.5px solid #dbdbdb;
}
